<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".views.screens.ImageActivity" />
        <activity
            android:name=".views.screens.note_detail.DetailActivity"
            android:parentActivityName=".views.screens.notes_list.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.screens.notes_list.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.screens.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <receiver android:name=".services.MyBroadcastReceiver"
            android:exported="false">
        </receiver>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>